<h1>Accueil</h1>

<p>Landing pages pour :</p>

<ul>
  <li><%= link_to "Etudiants", etudiant_path %></li>
  <li><%= link_to "Mairies", mairie_path %></li>
  <li><%= link_to "Seniors", senior_path %></li>
  <li><%= link_to "Polyvalents", polyvalent_path %></li>
  <li><%= link_to "Reconversion", reconversion_path %></li>
</ul>
